[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "acebayes"]
	path = acebayes
	url = https://github.com/cran/acebayes
	shallow = true
	registered = true
